@import "reset",
        "abstract/variables",
        "abstract/mixins",
        "layout/header",
        "layout/about",
        "layout/process";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

a{
  text-decoration: none;
}
p, h1, h2, h3, a,{
  font-family: Poppins;
}
section{
  padding: 0 135px;
}
