.possibilites{
  height: 760px;
  position: relative;
  display: flex;
  background-color: $light_gray;


  .textLeft{
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    position: relative;
    left: 0px;
    h2{
      font-size: 40px;
      font-weight: 800;
      line-height: 55px;
      margin-bottom: 70px;
      span{
        color: $red_gradian;
      }
    }
    p{
      font-size: 20px;
      font-weight: 200;
      line-height: 30px;
      color: $gray;
      &:first-of-type{
        margin-bottom: 35px;
      }
    }
  }

  img{
    position: absolute;
    transform: translate(0%,50%);
    right: 0;
    bottom: 50%;
  }
}