$overlay_color: hsl(214, 0, 0, 70%);
$pink_gradian : #fd3fb3;
$pink_mid_gradian : #fd3f81;
$red_gradian : #fd3e4f;
$gradian: linear-gradient(45deg, $pink_gradian, $pink_mid_gradian, $red_gradian);
$light_pink: #ffe2e9;
$gray: #5c5c5c;
$light_gray: #f4f4f4;

